@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sticky Notes - Shared</title>
    <meta name="description" content="Sticky Notes Recording Data">
    <meta name="author" content="Immanuel Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href="~/css/share.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="https://immanuel.co/favicon.ico" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="https://cdn.jsdelivr.net/npm/ark-js-util@latest/ark-util.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="modal-frame" style="overflow:hidden;">
        <div class="modal">
            <div class="modal-inset">
                <div style="display:none;" class="button close"><i class="fa fa-close"></i></div>

                <div class="modal-body" style="max-height:90%; overflow:auto;">
                    <h3>@Html.Raw(@ViewBag.share_record.title)</h3>
                    <p>
                        @Html.Raw(@ViewBag.share_record.value)
                    </p>
                    <p class="ps">Shared By : @ViewBag.share_email</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay"></div>


    <button class="fancy-btn open">Can I haz Modal?</button>
    <script>

        $(document).on('ready', function () {
            $modal = $('.modal-frame');
            $overlay = $('.modal-overlay');

            /* Need this to clear out the keyframe classes so they dont clash with each other between ener/leave. Cheers. */
            $modal.bind('webkitAnimationEnd oanimationend msAnimationEnd animationend', function (e) {
                if ($modal.hasClass('state-leave')) {
                    $modal.removeClass('state-leave');
                }
            });

            $('.close').on('click', function () {
                $overlay.removeClass('state-show');
                $modal.removeClass('state-appear').addClass('state-leave');
            });

            $('.open').on('click', function () {
                $overlay.addClass('state-show');
                $modal.removeClass('state-leave').addClass('state-appear');
            });
            $('.open').click();
        });
    </script>
</body>
</html>
